<!DOCTYPE html>
<head>
    <title>Flask</title>
</head>
<body>
    {% if error %}
        <h1>Message Failed</h1>
        <p style="color:red">{{error}}</p>
    {% endif %}
    {% if established %}
        <h1>Connection established</h1>
        <h3>Send Message to Alice</h3>
        <form method="post" action="/sendmsga">
            <input type="hidden" value="This is a secret text" name="message">
            <input type="submit" name="sendpre" value="Send predefined message"/>
        </form>
        <form method="post" action="/sendmsga">
            <input type="text" name="message">
            <input type="submit" name="send" value="Send">
        </form>
        {% if msg %}
            <h3>Message from Alice</h3>
            <p>{{msg}}</p>
        {% endif %}
    {% else %}
        <H1>Welcome Bob</H1>
        <h3>Establish connection to Alice</h3>
        <form method="post" action="/getpua">
            <input type="submit" value="Establish">
        </form>
    {% endif %}
</body>

